Homo_sapiens_assembly38.dbsnp138.vcf*
All_20180418.vcf.gz*
coneratios.pheno
sw/ldak
.snakemake
fastq
genome
logs
stats
qc
mapped
markdup
recal
gatk_called
gatk_called_combined
gatk_genotyped
gatk_filtered
gatk_annotated
freebayes
freebayes*_annotated
plink
ldak
plots